@keyframes reveal {
  from {
    width: 0px;
    height: 0px;
    margin-bottom: 0px;
    transform: rotate(-360deg);
  }
  to {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    transform: rotate(0deg);
  }
}

@keyframes hide {
  from {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    transform: rotate(0deg);
  }
  to {
    width: 0px;
    height: 0px;
    margin-bottom: 0px;
    transform: rotate(-360deg);
  }
}

.container {
  background-size: contain;
  width: 0px;
  height: 0px;
  border-radius: 50px;
  margin: auto;
  margin-bottom: 5px;
  transform: rotate(0deg);
}

.twitter {
  background-size: contain;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: auto;
  margin-bottom: 5px;
}

.reveal {
  animation-name: reveal;
  animation-duration: 0.5s;
}

.hide {
  animation-name: hide;
  animation-duration: 0.5s;
}
